{% extends "account/base.html" %}
{% load i18n account bootstrap4 %}

{% block head_title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
    <h1>{% trans "Password reset" %}</h1>

    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your email address below, and we&rsquo;ll send you an email allowing you to reset it." %}</p>

    <form method="post" action="{% url 'account_reset_password' %}" class="password_reset mb-3">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}
        <input class="btn btn-primary" type="submit" value="{% trans 'Reset my password' %}">
    </form>

    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
{% endblock %}
