.onboarding.wizard {
    .step {
        display: none;
        transition: all .333s ease;

        &.showing-ff, &.hiding-rw {
            transform: translateX(50%);
            opacity: 0;
        }

        &.hiding-ff, &.showing-rw {
            transform: translateX(-50%);
            opacity: 0;
        }

        &.active {
            display: block;
        }
    }
}
