// Colours
$background: #F7C55C;

// Type
$font-family-base: 'Raleway', sans-serif;
$headings-font-family: 'Alfa Slab One', serif;

// Block styles
$border-radius: 5px;
$cards-per-line: (
    xs: 1,
    sm: 2,
    md: 3,
    lg: 4,
    xl: 4
);

// Book
$page-background: #FDFAF4;

// Bootstrap colours
$primary: #933061;
$jumbotron-bg: lighten($background, 20);
$jumbotron-color: darken($background, 50);
