// Colours
$background: #F7C55C;

// Type
$font-family-base: 'Raleway', sans-serif;
$headings-font-family: 'Alfa Slab One', serif;

// Block styles
$border-radius: 5px;

// Book
$page-background: #FDFAF4;

// Bootstrap colours
$primary: #933061;
$jumbotron-bg: lighten($background, 20);
$jumbotron-color: darken($background, 50);
