& {
    padding-top: 0;
}

.book {
    @import '../lib/book';

    .cover-page {
        background-image: url('../img/create-podcast.jpg');

        .page-content {
            @media screen and (min-width: $col-xl) {
                margin-top: 30vh;
            }
        }
    }

    .text-page {
        .page-content {
            @media screen and (min-width: $col-xl) {
                margin-top: 30vh;
            }
        }
    }
}

.wizard {
    .step {
        display: none;
        transition: all .333s ease;

        &.showing-ff, &.hiding-rw {
            transform: translateX(50%);
            opacity: 0;
        }

        &.hiding-ff, &.showing-rw {
            transform: translateX(-50%);
            opacity: 0;
        }

        &.active {
            display: block;
        }

        .buttons {
            text-align: right;
        }
    }
}
