$kanban-column-widths: (
    xs: 320px,
    sm: 510px,
    md: 210px,
    lg: 290px,
    xl: 350px
);

& {
    position: relative;
    overflow-x: scroll;
    transition: all .3s ease;

    &.kanban-frozen {
        opacity: .25;
    }

    .kanban-column-row {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
    }

    .kanban-column {
        background: $kanban-board-background;
        float: left;
        margin: 5px 0 5px 15px;
        padding: 15px;
        transition: all .3s ease;
        box-shadow: 0 5px 5px darken($kanban-board-background, 10);

        @each $name, $breakpoint in $grid-breakpoints {
            @media (min-width: $breakpoint) {
                width: #{map-get($kanban-column-widths, $name)};
            }
        }

        h6 {
            text-align: center;
        }

        .ui-sortable {
            .kanban-card {
                .card-header, .card-footer {
                    cursor: move;
                }
            }

            .ui-sortable-placeholder {
                border: 1px dotted $card-border-color;
                border-radius: $border-radius;
            }
        }

        &.kanban-can-receive {
            box-shadow: 0 0 5px $green;
        }

        &.kanban-cannot-receive {
            box-shadow: 0 0 5px $red;
        }

        &.kanban-can-receive, &.kanban-cannot-receive {
            .kanban-list-container {
                border: 1px dotted $card-border-color;
                border-radius: $border-radius;
                min-height: 100px;
                margin-bottom: 1rem;
            }
        }
    }

    .kanban-card {
        &.kanban-frozen {
            opacity: .25;
        }
    }
}
