.stage-timeline {
    display: table;
    width: 100%;
    position: relative;

    .timeline-stage {
        display: table-cell;
        text-align: center;
        height: 30px;
        vertical-align: middle;
        position: relative;

        @media screen and (min-width: #{map-get($grid-breakpoints, 'lg')}) {
            height: 60px;
        }

        .timline-continuity {
            height: 7px;
            position: absolute;
            top: 13px;
            left: 0;
            width: 0;
            display: block;
            content: ' ';
            z-index: 10;

            @media screen and (min-width: #{map-get($grid-breakpoints, 'lg')}) {
                top: 23px;
                height: 14px;
            }
        }

        .timeline-stage-indicator {
            position: relative;
            z-index: 20;

            .inner {
                width: 30px;
                line-height: 30px;
                border-radius: 50%;
                display: inline-block;
                margin: 0 auto;
                opacity: 0;

                @media screen and (min-width: #{map-get($grid-breakpoints, 'lg')}) {
                    width: 60px;
                    line-height: 60px;
                    font-size: 24px;
                }
            }
        }

        &.ready, &.pending {
            .timline-continuity {
                @include grow-x;
                animation-duration: 333ms;
            }

            .timeline-stage-indicator {
                .inner {
                    @include bounce-in;
                }
            }
        }

        &.changing {
            .timline-continuity {
                animation: none
            }

            .timeline-stage-indicator {
                .inner {
                    animation: none
                }
            }
        }

        &.ready {
            .timline-continuity {
                background: $timeline-stage-bg;
            }

            .timeline-stage-indicator {
                .inner {
                    background: $timeline-stage-bg;
                    color: #fff;
                }
            }
        }

        &.pending {
            .timline-continuity {
                border: 1px solid $timeline-stage-bg;
                border-left-width: 0;
                border-right-width: 0;
                background: $jumbotron-bg;
            }

            .timeline-stage-indicator {
                .inner {
                    border: 1px solid $timeline-stage-bg;
                    background: $jumbotron-bg;
                    color: $timeline-stage-bg;
                }
            }
        }

        &:last-child {
            &.pending {
                .timline-continuity {
                    border-right-width: 1px;
                }
            }
        }

        &.active {
            .timeline-stage-indicator .inner {
                background: $timeline-stage-active-bg;
            }

            .timline-continuity {
                background: $timeline-stage-active-bg;
            }
        }
    }
}

#evidence-request {
    .modal-footer {
        display: block;

        .form-group {
            display: inline;

            label, .form-control {
                display: inline;
            }

            .form-control {
                width: 60%;
            }

            label {
                margin-right: .5em;
            }
        }

        .row {
            margin-right: -15px;
            margin-left: -15px;
        }

        .controls.hidden {
            display: none !important;
        }

        .progress.hidden {
            display: none !important;
        }
    }

    .dropzone {
        background: lighten($page-background, 1);
        border: 1px dashed #333;
        border-radius: $border-radius;
        cursor: pointer;
        position: relative;
        padding: 30px;
        width: 100%;
        height: 150px;
        display: table;
        transition: all .3s ease;

        &:hover {
            background: $page-background;
        }

        &.active {
            background: darken($page-background, 5);
        }

        .inner {
            font-size: 1.5rem;
            text-align: center;
            vertical-align: middle;
            width: 100%;
            height: 150px;
            display: table-cell;
        }

        input {
            display: none;
        }

        .file-count {
            display: none;
        }

        &.has-files {
            background: lighten($success, 55);

            &:hover {
                background: lighten($success, 52);
            }

            .file-count {
                display: inline;
            }
        }
    }

    textarea {
        height: 210px;
        padding: 15px;
    }
}

.tasks {
    .task {
        padding: 15px;
        border: 1px solid lighten($primary, 50);
        border-left: 3px solid $primary;
        transition: all .3s ease;
        cursor: default;
        user-select: none;

        .label {
            &:before {
                content: '';
                text-indent: -9999em;
                font-family: 'FontAwesome';
                border: 1px solid #ddd;
                border-radius: $border-radius;
                padding: 5px 9px;
                display: inline-block;
                margin-right: .5em;
                width: 32px;
                height: 29px;
                line-height: 14px;
                text-align: center;
            }
        }

        &:hover {
            background: $page-background;

            .label {
                &:before {
                    background: #fff;
                }
            }
        }

        &.completed {
            .label {
                &:before {
                    text-indent: 0
                }
            }
        }
    }
}
