body {
  padding-top: 5rem;
  font-family: 'Raleway', sans-serif; }

h1, h2, h3 {
  font-family: 'Alfa Slab One', serif;
  font-weight: normal; }

.btn-facebook, .btn-google, .btn-linkedin_oauth2, .btn-twitter {
  color: #fff; }
  .btn-facebook:hover, .btn-facebook:active, .btn-google:hover, .btn-google:active, .btn-linkedin_oauth2:hover, .btn-linkedin_oauth2:active, .btn-twitter:hover, .btn-twitter:active {
    color: #fff; }

.btn-facebook {
  background-color: #1877F2; }
  .btn-facebook:hover, .btn-facebook:active {
    background-color: #0b5fcc; }

.btn-google {
  background-color: #4285F4; }
  .btn-google:hover, .btn-google:active {
    background-color: #1266f1; }

.btn-linkedin_oauth2 {
  background-color: #0077B5; }
  .btn-linkedin_oauth2:hover, .btn-linkedin_oauth2:active {
    background-color: #005582; }

.btn-twitter {
  background-color: #1DA1F2; }
  .btn-twitter:hover, .btn-twitter:active {
    background-color: #0c85d0; }

.step {
  display: none;
  transition: all .333s ease; }
  .step.showing-ff, .step.hiding-rw {
    transform: translateX(50%);
    opacity: 0; }
  .step.hiding-ff, .step.showing-rw {
    transform: translateX(-50%);
    opacity: 0; }
  .step.active {
    display: block; }
  .step .buttons {
    text-align: right; }

.onboarding {
  padding-top: 0; }

.onboarding .book .left-page {
  min-height: 25vh; }

.onboarding .book .right-page {
  min-height: 75vh; }

.onboarding .book .cover-page {
  color: #fff;
  position: relative; }
  .onboarding .book .cover-page a {
    color: #fff;
    text-decoration: underline; }
    .onboarding .book .cover-page a:hover {
      color: #fff;
      text-decoration: none; }
  .onboarding .book .cover-page:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    content: ' ';
    z-index: 10; }
  .onboarding .book .cover-page .page-content {
    position: relative;
    z-index: 20; }

.onboarding .book .text-page {
  background: #FDFAF4; }

@media screen and (min-width: 1200px) {
  .onboarding .book .left-page, .onboarding .book .right-page {
    width: 50vw;
    height: 100vh;
    position: relative;
    overflow-x: hidden; }
  .onboarding .book .cover-page {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .onboarding .book .left-page {
    float: left; }
  .onboarding .book .right-page {
    float: right; } }

.onboarding .book .cover-page {
  background-image: url("../img/welcome-rooster.jpg"); }
  @media screen and (min-width: 1200px) {
    .onboarding .book .cover-page .page-content {
      margin-top: 30vh; } }

@media screen and (min-width: 1200px) {
  .onboarding .book .text-page .page-content {
    margin-top: 30vh; } }

.projects.create-project {
  padding-top: 0; }

.projects.create-project .book .left-page {
  min-height: 25vh; }

.projects.create-project .book .right-page {
  min-height: 75vh; }

.projects.create-project .book .cover-page {
  color: #fff;
  position: relative; }
  .projects.create-project .book .cover-page a {
    color: #fff;
    text-decoration: underline; }
    .projects.create-project .book .cover-page a:hover {
      color: #fff;
      text-decoration: none; }
  .projects.create-project .book .cover-page:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    content: ' ';
    z-index: 10; }
  .projects.create-project .book .cover-page .page-content {
    position: relative;
    z-index: 20; }

.projects.create-project .book .text-page {
  background: #FDFAF4; }

@media screen and (min-width: 1200px) {
  .projects.create-project .book .left-page, .projects.create-project .book .right-page {
    width: 50vw;
    height: 100vh;
    position: relative;
    overflow-x: hidden; }
  .projects.create-project .book .cover-page {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .projects.create-project .book .left-page {
    float: left; }
  .projects.create-project .book .right-page {
    float: right; } }

.projects.create-project .book .cover-page {
  background-image: url("../img/create-podcast.jpg"); }
  @media screen and (min-width: 1200px) {
    .projects.create-project .book .cover-page .page-content {
      margin-top: 30vh; } }

@media screen and (min-width: 1200px) {
  .projects.create-project .book .text-page .page-content {
    margin-top: 30vh; } }

.projects.create-project .wizard .step {
  display: none;
  transition: all .333s ease; }
  .projects.create-project .wizard .step.showing-ff, .projects.create-project .wizard .step.hiding-rw {
    transform: translateX(50%);
    opacity: 0; }
  .projects.create-project .wizard .step.hiding-ff, .projects.create-project .wizard .step.showing-rw {
    transform: translateX(-50%);
    opacity: 0; }
  .projects.create-project .wizard .step.active {
    display: block; }
  .projects.create-project .wizard .step .buttons {
    text-align: right; }
