{% extends "projects/base.html" %}
{% load i18n bootstrap4 %}

{% block body_classes %}kanban projects board-detail{% endblock %}
{% block head_title %}{{ object }} | {{ object.project }}{% endblock %}
{% block container_class %}{{ block.super }}-fluid{% endblock %}

{% block pre_content %}
    <div class="jumbotron mt-n4">
        <div class="container">
            <h1>{{ object }}</h1>
        </div>
    </div>
{% endblock pre_content %}

{% block content %}
    <div class="kanban-board mb-5" data-id="{{ object.natural_key|join:'/' }}"></div>
{% endblock content %}
