{% extends "base.html" %}
{% load i18n bootstrap4 %}
{% block body_classes %}projects create-project{% endblock %}

{% block body %}
    <div class="book">
        <div class="left-page cover-page">
            <div class="page-content p-5">
                <h1>{% trans "Let&rsquo;s make a podcast" %}</h1>
            </div>
        </div>
        <div class="right-page text-page">
            <div class="page-content p-5">
                <form method="post" action="{% url 'create_project' %}">
                    <div class="wizard">
                        <div class="step">
                            <h2>{% trans "What is your new podcast called?" %}</h2>
                            {% bootstrap_field form.name show_label=False %}
                            <button class="btn btn-primary" data-action="next" type="button">{% trans "Next" %}</button>
                        </div>

                        <div class="step">
                            <h2>{% trans "Is the podcast already live?" %}</h2>
                            <button class="btn btn-primary" data-action="next" type="button">{% trans "Yes" %}</button>
                            <button class="btn btn-secondary" type="submit">{% trans "No" %}</button>
                        </div>

                        <div class="step">
                            <h2>{% trans "Let&rsquo;s find it on Apple Podcasts" %}</h2>
                            {% bootstrap_field form.apple_podcasts_id show_label=False %}
                            <button class="btn btn-primary" type="submit">{% trans "Next" %}</button>
                        </div>
                    </div>

                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
{% endblock body %}
