{% extends "projects/base.html" %}
{% load i18n bootstrap4 %}

{% block body_classes %}projects deliverable-detail{% endblock %}
{% block head_title %}{{ object }} | {{ object.project }}{% endblock %}

{% block pre_content %}
    <div class="jumbotron mt-n4">
        <div class="container">
            <h1>{{ object }}</h1>

            <div class="stage-timeline" data-id="{{ object.natural_key|join:'/' }}">
                {% for stage in object.project.stages.all %}
                    <div class="timeline-stage" data-id="{{ stage.pk }}">
                        <span class="timline-continuity"></span>
                        <a class="timeline-stage-indicator" href="#stage-{{ forloop.counter }}">
                            <span class="inner">
                                <i class="fa fa-check fa-fw"></i>
                            </span>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock pre_content %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            <div class="tasks card" data-id="{{ object.natural_key|join:'/' }}">
                <div class="card-header">
                    {% trans "Available tasks" %}
                </div>

                <div class="card-body"></div>
            </div>
        </div>
    </div>

    <div class="activity-timeline">

    </div>
{% endblock content %}
