{% extends "projects/base.html" %}
{% load i18n bootstrap4 %}

{% block body_classes %}projects deliverable-detail{% endblock %}
{% block head_title %}{{ object }} | {{ object.project }}{% endblock %}

{% block pre_content %}
    <div class="jumbotron mt-n4">
        <div class="container">
            <h1>{{ object }}</h1>

            <div class="stage-timeline" data-id="{{ object.natural_key|join:'/' }}">
                {% for stage in object.project.stages.all %}
                    <div class="timeline-stage" data-id="{{ stage.pk }}">
                        <span class="timline-continuity"></span>
                        <a class="timeline-stage-indicator" href="#stage-{{ forloop.counter }}">
                            <span class="inner">
                                <i class="fa fa-check fa-fw"></i>
                            </span>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock pre_content %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div class="tasks card" data-id="{{ object.natural_key|join:'/' }}">
                <div class="card-header">{% trans "Available tasks" %}</div>
                <div class="card-body"></div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="activity-timeline" data-id="{{ object.natural_key|join:'/' }}"></div>
        </div>
    </div>
{% endblock content %}

{% block extra_body %}
    <div id="evidence-request" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% trans "Submit evidence" %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-pills" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="evidence-request-media-tab" href="#evidence-request-media" data-toggle="tab">{% trans "Upload media" %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="evidence-request-text-tab" href="#evidence-request-text" data-toggle="tab">{% trans "Add notes" %}</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="evidence-request-media" role="tabpanel" aria-labelledby="evidence-request-media-tab">
                            <div class="dropzone">
                                <div class="inner text-muted">
                                    <i class="fa fa-cloud-upload fa-2x"></i><br>
                                    {% trans "Drop files here" %}
                                    <br><small class="file-count"></small>
                                </div>

                                <input type="file" data-name="media" multiple>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="evidence-request-text" role="tabpanel" aria-labelledby="evidence-request-text-tab">
                            <textarea data-name="text" class="form-control" rows="8"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="hidden progress">
                        <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                    <div class="controls row">
                        <div class="col-lg-6 pull-left">
                            <div class="form-group">
                                <label for="id_category">
                                    <i class="fa fa-tag" title="{% trans "Evidence type" %}"></i>
                                </label>
                                <select id="id_category" class="form-control" data-name="category"></select>
                            </div>
                        </div>
                        <div class="col-lg-6 pull-right text-right">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Cancel" %}</button>
                            <button type="button" class="btn btn-primary" data-action="evidence.submit" disabled>{% trans "Submit" %}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ block.super }}
{% endblock extra_body %}
