{% extends "projects/base.html" %}
{% load i18n bootstrap4 %}

{% block body_classes %}projects update-project{% endblock %}
{% block head_title %}{% trans "Project settings" %} | {{ object }}{% endblock %}

{% block pre_content %}
    <div class="jumbotron mt-n4">
        <div class="container">
            <h1>{{ object }}</h1>
        </div>
    </div>
{% endblock pre_content %}

{% block content %}
    <form class="row" method="post" enctype="multipart/form-data" action="{% url 'update_project' object.slug %}">
        <div class="col-md-4">
            {% include "projects/project_sidebar.html" with update_artwork=True %}
        </div>

        <div class="col-md-8">
            {% bootstrap_field form.name layout='horizontal' %}

            <button class="btn btn-primary" type="submit">{% trans "Save settings" %}</button>
            {% csrf_token %}
        </div>
    </form>
{% endblock content %}
