{% load i18n static %}

{% if update_artwork %}
    <div class="artwork-dropzone dropzone dropzone-image mb-3" style="background-image: url('{% if form.artwork.value %}{{ form.artwork.value.url }}{% else %}{% static 'img/no-artwork.jpg' %}{% endif %}');">
        <span>{% trans "Drag new artwork here" %}</span>
        <input id="id_{{ form.artwork.html_name }}" name="{{ form.artwork.html_name }}" accept="{{ form.artwork.field.widget.attrs.accept }}" type="file">
    </div>
{% elif project.artwork %}
    <img src="{{ project.artwork.url }}" class="img-fluid mb-2" alt="Podcast artwork">
{% else %}
    <img src="{% static 'img/no-artwork.jpg' %}" class="img-fluid mb-2" alt="Podcast artwork">
{% endif %}

<div class="list-group">
    <a href="{% url 'update_project' project.slug %}" class="list-group-item{% if url_name == 'update_project' %} list-group-item-action active{% endif %}">
        {% trans "Project settings" %}
    </a>

    <a href="{% url 'project_manager_list' project.slug %}" class="list-group-item{% if 'project_manager' in url_name %} list-group-item-action active{% endif %}">
        {% trans "Project managers and clients" %}
    </a>
</div>
