{% extends "projects/base.html" %}
{% load i18n static %}

{% block body_classes %}project-list {{ block.super }}{% endblock %}
{% block head_title %}{% trans "Projects" %}{% endblock %}

{% block pre_content %}
    <div class="jumbotron mt-n4">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="m-0">{% trans "Projects" %}</h1>
                </div>
                <div class="col-md-6 text-right">
                    {% if perms.projects.add_project %}
                        <a class="mt-1 btn btn-outline-primary" href="{% url 'create_project' %}">
                            <i class="fa fa-plus"></i>
                            {% trans "Start a new project" %}
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock pre_content %}

{% block content %}
    <div class="card-deck">
        {% for object in object_list %}
            <div class="card mb-4">
                <a href="{{ object.get_absolute_url }}">
                    <img src="{% if object.artwork %}{{ object.artwork.url }}{% else %}{% static 'img/no-artwork.jpg' %}{% endif %}" class="card-img-top" alt="Podcast artwork">
                </a>

                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{{ object.get_absolute_url }}">{{ object.name }}</a>
                    </h5>
                </div>

                <div class="card-footer">
                    <small class="text-muted">
                        {% blocktrans with object.updated|default:object.created|timesince as updated %}
                            Last updated {{ updated }} ago
                        {% endblocktrans %}
                    </small>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
