{% extends "projects/base.html" %}
{% load i18n bootstrap4 %}

{% block pre_content %}
    <div class="jumbotron mt-n4">
        <div class="container">
            <h1>{{ object }}</h1>
        </div>
    </div>
{% endblock pre_content %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div class="list-group">
                <a href="{% url 'update_project' object.slug %}" class="list-group-item list-group-item-action active">
                    {% trans "Project settings" %}
                </a>
            </div>
        </div>

        <div class="col-md-8">
            <form method="post" action="{% url 'update_project' object.slug %}">
                {% bootstrap_form form layout='horizontal' show_label=False %}

                <button class="btn btn-primary" type="submit">{% trans "Save settings" %}</button>
                {% csrf_token %}
            </form>
        </div>
    </div>
{% endblock content %}
