{% load static %}<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>{% block head_title %}{% endblock %} | {{ current_site.name }}</title>

        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Alfa+Slab+One|Raleway:400,400i,700,700i,800,800i&display=swap">
        <link rel="stylesheet" href="{% static 'css/pico.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% include 'favicons.html' %}
    </head>
    <body class="{% block body_classes %}{% endblock %} pico">
        {% block body %}
            {% include 'navigation.html' %}
            {% block pre_content %}{% endblock %}

            <main role="main" class="{% block container_class %}container{% endblock %}">
                {% block content %}{% endblock %}
            </main>

            {% block extra_body %}{% endblock %}
        {% endblock %}

        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>
        <script src="{% static 'js/pico.js' %}"></script>

        {% include 'toast_list.html' %}
    </body>
</html>
